@charset "UTF-8";
/*-- 当前变量 --*/

/* @import url(wxCode.css); */

html,
body,
div,
span,
input,
button,
figure,
i,
h1,
h2,
h3,
h4,
h5,
h6,
em,
img,
strong,
sub,
sup,
tt,
dd,
dl,
dt,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
ul,
ol,
li,
p,
a {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

html,
body {
  height: 100%;
  /* background: #f4f4f4; */
  background: #f2f3f4;
  color: #555;
  font-size: 14px;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: 14px;
  border: 0;
  outline: none;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: none;
  padding: 0;
}

body {
  font: 14px/1.5 "PingFang SC", "Lantinghei SC", "Microsoft YaHei", "HanHei SC", "Helvetica Neue", "Open Sans", Arial, "Hiragino Sans GB", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

img {
  border: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a[class|=btn] {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

i {
  font-style: normal;
}

b {
  font-weight: normal;
}

main {
  display: block;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #FFFFFF !important;
  background-image: none !important;
  color: #333 !important;
  -webkit-box-shadow: 0 0 0px 1000px #f4f4f4 inset;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  background: #ffffff;
}

#body,
#login-body {
  min-height: 100%;
  position: relative;
  padding-bottom: 206px;
  background: #f4f4f4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#login-body {
  /* background: url("../images/login-ground.jpg") no-repeat; */
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-wrapper {
  margin-bottom: 40px;
}

.block {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.mt-10 {
  margin-top: 10px;
}

div.mt-20,
a.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix {
  zoom: 1;
}

.ranking-new {
  font-size: 12px;
  background: #F34D37;
  display: inline-block;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 0 6px;
  line-height: 16px;
  margin-left: 8px;
}

.container-area {
  margin: 20px auto 0;
  *zoom: 1;
}

.container-area:after {
  content: "";
  display: table;
}

.container-area:after {
  clear: both;
}

.border-bottom {
  border-bottom: 1px solid #eeeeee;
}

.border-top {
  border-top: 1px solid #eeeeee;
}

.border-radius-top {
  border-radius: 4px 4px 0 0;
}

.border-radius-bottom {
  border-radius: 0 0 4px 4px;
}

.hightlight {
  color: #f4523b;
}

.btn-default-secondary {
  color: #666666;
  background: transparent;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.btn-default-secondary:hover {
  color: #444444;
  background: transparent;
  border: 1px solid #999999;
}

.btn-disabled {
  color: #bbbbbb;
  background: #eeeeee;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  cursor: default;
}

.disabled {
  color: #bbbbbb !important;
  cursor: default !important;
}

.disabled-color {
  color: #bbbbbb !important;
  cursor: default !important;
}

.btn-current-big {
  width: 320px;
  height: 42px;
  font-size: 16px;
}

.btn-current-middle {
  width: 118px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  margin: 0 10px;
}

.btn-small {
  width: 76px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-default-loading {
  color: #444444;
  background: #ffd100;
  border: 1px solid #ffd100;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.btn-current-null {
  min-width: 126px;
  height: 36px;
  padding: 0 19px;
  line-height: 36px;
}

.mask-layer-full-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.closebtn {
  width: 20px;
  height: 20px;
  /* background: url(../images/svg/shanchuxiao.svg) no-repeat; */
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  cursor: pointer;
}

.main-wrapper .main-wrapper-advlong-top {
  padding: 20px 0;
  background: #ffffff;
}

.mCSB_inside>.mCSB_container {
  margin: 0;
}

.mCSB_scrollTools a+.mCSB_draggerContainer {
  margin: 6px 0;
}

.zcool-link-color {
  color: #d36f16;
  cursor: pointer;
}

.alert-confirm,
.pop-up-confirm {
  padding: 0 0 83px;
}

.alert-confirm .tips-text-normal,
.pop-up-confirm .tips-text-normal {
  position: absolute;
  top: 50%;
  margin-top: -12px;
}

.alert-confirm .tips-text-normal .medium-text,
.pop-up-confirm .tips-text-normal .medium-text {
  font-size: 14px;
}

.alert-confirm .tips-text-normal .large-text,
.pop-up-confirm .tips-text-normal .large-text {
  color: #444444;
}

.alert-confirm .tips-text,
.pop-up-confirm .tips-text {
  width: 100%;
  font-size: 16px;
  text-align: center;
  color: #666666;
  padding: 56px 30px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pop-up-normal {
  padding: 30px 0;
}

.pop-up-normal .medium-text {
  font-size: 14px;
}

.pop-up-normal .large-text {
  color: #444444;
}

.pop-up-normal .tips-text {
  width: 100%;
  font-size: 16px;
  text-align: center;
  color: #666666;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pop-up-normal,
.alert-confirm,
.pop-up-confirm {
  width: 300px;
  background: #ffffff;
  color: #444444;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -120px;
  display: block;
  vertical-align: middle;
  z-index: 13;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pop-up-normal .pop-btn-con,
.alert-confirm .pop-btn-con,
.pop-up-confirm .pop-btn-con {
  position: absolute;
  bottom: 20px;
}

.pop-up-normal .pop-confirm,
.pop-up-normal .pop-cancel,
.alert-confirm .pop-confirm,
.alert-confirm .pop-cancel,
.pop-up-confirm .pop-confirm,
.pop-up-confirm .pop-cancel {
  font-size: 14px;
}

.pop-up-normal .pop-btn-con,
.pop-up-confirm .pop-btn-con {
  width: 100%;
}

.alert-confirm .pop-btn-con {
  left: 50%;
  margin-left: -68px;
}

.toast-success,
.toast-fail {
  padding: 30px;
  text-align: center;
  z-index: 14;
  width: 300px;
  min-height: 200px;
  background: #ffffff;
  color: #444444;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -120px;
  display: block;
  vertical-align: middle;
  z-index: 150;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.toast-success .toast-tips-text,
.toast-fail .toast-tips-text {
  font-size: 16px;
  margin-top: 14px;
}

.toast-success .toast-socend-text,
.toast-fail .toast-socend-text {
  font-size: 14px;
}

.toast-pictrue {
  width: 132px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.error-color {
  color: #f4523b;
}

.checkbox-wrap label {
  height: 14px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  cursor: pointer;
}

.checkbox-wrap input[type="checkbox"] {
  opacity: 0;
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.check-c {
  margin-right: 10px;
  /* background: url("../images/common/checkbox.svg") no-repeat 0 0; */
  background-size: 14px;
}

.check-cd {
  margin-right: 10px;
  /* background: url("../images/common/checkboxed.svg") no-repeat; */
  background-size: 14px;
}

.submission {
  cursor: default;
}

.leaveout-tips {
  padding: 16px;
  text-align: center;
  position: absolute;
  left: 50%;
  background: #ffffff;
  display: none;
  z-index: 4;
  top: 26px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.leaveout-tips img {
  vertical-align: middle;
}

.leaveout-tips:before {
  content: "";
  display: block;
  width: 30px;
  height: 13px;
  /* background: url(../images/poptriangle.png) no-repeat; */
  position: absolute;
  top: -13px;
  left: 50%;
  margin-left: -15px;
}

.air-bubble {
  width: 235px;
  padding: 20px 28px;
  color: #666666;
  background-color: #282828;
  position: absolute;
  left: 50%;
  margin-left: -111px;
  z-index: 3;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.air-bubble .recommend-notlogin {
  color: #d36f16;
  margin-right: 5px;
  cursor: pointer;
}

.air-bubble:before {
  content: "";
  display: block;
  border: 10px solid transparent;
  border-bottom: 10px solid #282828;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
}

.air-bubble-tips {
  padding: 20px;
  color: #666666;
  background-color: #282828;
  font-size: 12px;
  position: absolute;
  top: 40px;
  right: 22px;
  z-index: 9;
  display: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.air-bubble-tips .recommend-notlogin {
  color: #d36f16;
  margin-right: 5px;
  cursor: pointer;
}

.air-bubble-tips:before {
  content: "";
  display: block;
  border: 10px solid transparent;
  border-bottom: 10px solid #282828;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
}

.tab-nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  -webkit-transform: translateZ(0);
}

.section-title {
  line-height: 14px;
  margin: 30px 0 20px 0;
  position: relative;
  color: #444444;
}

.section-title .filtrate {
  color: #444444;
}

.section-title .filtrate .specific-symbol {
  display: inline-block;
  /* background: url("../images/selectarrow.png") no-repeat; */
  width: 12px;
  height: 7px;
  margin: 0 0px 1px 6px;
}

.section-title a {
  position: absolute;
  right: 0;
  color: #d36f16;
}

.section-title a .specific-symbol {
  display: inline-block;
  /* background: url("../images/all-right-arrow.png") no-repeat; */
  width: 6px;
  height: 9px;
}

.auto-select {
  line-height: 14px;
}

.auto-select input {
  vertical-align: middle;
  opacity: 0;
}

.auto-select .new-user-register {
  float: right;
  color: #d36f16;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar.hoverscroll {
  background-color: rgba(0, 0, 0, 0.2);
  transition: all linear 0.2s;
}

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: rgba(0, 0, 0, 0.1);
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.2);
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.2);
}

.work-null {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  background: #ffffff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.work-null .work-null-inner {
  padding: 40px 0;
}

.work-null .work-null-inner .null-images {
  display: inline-block;
  /* background: url("../images/null-page-draw.png") no-repeat; */
  width: 280px;
  height: 165px;
  background-size: 280px;
  vertical-align: middle;
}

.work-null .work-null-inner .work-null-tips {
  text-align: center;
  color: #666666;
  margin-top: 26px;
}

.work-null .work-null-inner .work-null-tips .subject-title {
  color: #444444;
  font-size: 16px;
}

.work-null .work-null-inner .work-null-tips .subhead-title {
  font-size: 14px;
}

.work-null .work-null-inner .btn-current-null {
  margin-top: 16px;
}

.work-null-nobg {
  background: transparent;
}

.msg-box-null {
  text-align: center;
  height: 225px;
  position: absolute;
  top: 0px;
  left: 61px;
  cursor: default;
}

.msg-box-null .msg-box-inner {
  padding-top: 40px;
}

.msg-box-null .msg-box-inner .null-images {
  display: inline-block;
  /* background: url("../images/null-page-draw.png") no-repeat; */
  background-size: 180px;
  width: 180px;
  height: 121px;
  vertical-align: middle;
}

.msg-box-null .msg-box-inner .msg-null-tips {
  line-height: 20px;
  padding: 0;
  margin-top: 0px;
  display: block;
}

.more-leaveout {
  height: 16px;
  margin-left: -2px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  display: none;
}

.more-leaveout img {
  width: 16px;
  height: 16px;
}

.more-leaveout:hover .leaveout-tips {
  display: block;
}

.active-filter-down .flat .selected:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.textarea-common-style {
  background: #f2f2f2;
  border: 1px solid #dddddd;
  border-radius: 4px;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.text-style {
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  color: #666666;
  font-size: 14px;
  border: 1px solid #dddddd;
  background: #f4f4f4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.text-style.text-withcount {
  padding-right: 40px;
}

.textarea-style,
.textarea-style2 {
  width: 100%;
  height: 42px;
  max-height: 134px;
  padding: 10px 20px;
  color: #666666;
  font-size: 14px;
  border: 1px solid #dddddd;
  background: #f4f4f4;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  overflow: hidden;
  resize: none;
}

.textarea-style2 {
  height: 108px;
  overflow-y: auto;
}

.textarea-style.text-withcount {
  padding-right: 50px;
}

.bg-box-radius {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #ffffff;
}

.ptb-6 {
  padding: 6px 0;
}

.pop-login {
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  z-index: 13;
}

.login-box {
  position: relative;
}

.member-login {
  margin-top: -5px;
  padding-bottom: 20px;
  text-align: left;
  border-bottom: 1px solid #eaeaea;
}

.body-fixed,
.confirm-body-fixed {
  overflow: hidden;
}

.fixed-card {
  position: fixed;
  top: 0;
}

.scroll-fixed {
  padding-right: 17px;
}

.cursor-default {
  cursor: default;
}

.error-prompt {
  color: #f14538;
  font-size: 12px;
}

.error-prompt .error-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  line-height: 24px;
  background: #f14538;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.verify-code-form {
  width: 120px;
  height: 42px;
  color: #666666;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.verify-code-form:hover {
  border: 1px solid #999999;
}

.radio label {
  height: 16px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.radio label input {
  opacity: 0;
  margin-right: 10px;
  cursor: pointer;
}

.empty {
  font-size: 14px;
  color: #666666;
  text-align: center;
  line-height: 156px;
}

#page-loading {
  margin: 6px 0 26px 0;
  text-align: center;
}

.pinlun-loadding {
  text-align: center;
  margin: 6px 0 26px 0;
}

.loading {
  text-align: center;
  padding: 30px 0;
  line-height: 200px;
}

.error-pictrue {
  text-align: center;
}

.error-pictrue .error-content {
  width: 100%;
  font-size: 16px;
  color: #282828;
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  top: 50%;
  margin-top: -242px;
}

.five-error-pictrue {
  height: 100%;
  text-align: center;
}

.five-error-pictrue .error-content {
  width: 100%;
  padding-top: 165px;
  font-size: 16px;
  color: #282828;
}

.zcool-skip-inner {
  text-align: center;
  margin-top: 70px;
}

.zcool-skip-inner .zcool-skip-tips {
  font-size: 16px;
  color: #444444;
}

.zcool-skip-inner .skip-images {
  /* background: url("../../common/images/skip404.png") no-repeat; */
  width: 179px;
  height: 179px;
  margin: 30px auto;
}

.zcool-skip-inner .time-tips {
  font-size: 14px;
  color: #444444;
  margin-bottom: 24px;
}

.zcool-skip-inner .time-tips span {
  color: #ea4335;
}

.zcool-skip-inner .btn-default-secondary {
  background: #f4f4f4;
}

.zcool-skip-inner .btn-current-skip {
  width: 118px;
  height: 40px;
  line-height: 40px;
}

@media screen and (max-width: 1200px) {
  header,
  main,
  #footer,
  #body {
    width: 1200px;
  }
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-bg-color {
  background: #ffd100;
  color: #333333;
}

.main-link-color {
  color: #d36f16;
}

.hide {
  display: none;
}

.medium-title {
  font-size: 14px;
  color: #666666;
}

.select-shixin-arrow {
  display: inline-block;
  width: 11px;
  height: 6px;
  margin-left: 10px;
  /* background: url(../images/common/shixinjiantou.svg) no-repeat; */
}

.center-section-wrap {
  width: 900px;
  margin: 30px auto 0;
  background: #ffffff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  overflow: hidden;
}

.trade-tips {
  color: #bbbbbb;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-bottom: 20px;
}

.arrowhead-style {
  color: #bbbbbb;
}

.select-scroll-box {
  max-height: 200px;
}

.popFace.scrollbar,
.scrollbar {
  overflow: hidden;
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  background-color: #f2f2f2;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 50px;
  background-color: transparent;
}

.flat .old option {
  display: none;
  height: 0;
  border: 0;
  outline: none;
}

/*定义滑块，内阴影及圆角*/

.scrollbar::-webkit-scrollbar-thumb {
  height: 40px;
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}

.text-ifram {
  position: relative;
}

.counter {
  position: absolute;
  right: 20px;
  font-style: normal;
  font-size: 12px;
  color: #999999;
}

.count {
  position: absolute;
  line-height: 1;
  right: 20px;
  font-style: normal;
  font-size: 12px;
  color: #999999;
  bottom: 15px;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  background: #ffffff;
  color: #444444;
}

input[type='text'].borderred,
textarea.borderred {
  border: 1px solid #f4523b !important;
}

.warning,
.exceeded {
  color: #F00 !important;
}

.shade {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
}

.pop-up,
.conutry-area-code-wrap {
  color: #444444;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 13;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.conutry-area-code-wrap {
  width: 334px;
  position: absolute;
  left: 0;
  top: 46px;
}

.popup-title {
  padding: 20px 30px 20px;
  font-size: 14px;
  line-height: 14px;
  border-bottom: 1px solid #eeeeee;
}

.popup-con {
  padding: 30px;
}

.pop-subtitle {
  margin-top: 25px;
  font-size: 14px;
}

.login-close,
.pop-close,
.small-close {
  width: 15px;
  height: 15px;
  /* background: url(../images/common/guanbi.svg) no-repeat; */
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.login-close {
  position: absolute;
  top: 35px;
  right: 40px;
}

.pop-close,
.small-close {
  position: absolute;
  right: 30px;
  top: 20px;
}

.pop-confirm,
.pop-cancel {
  width: 120px;
  height: 36px;
  margin: 20px 8px 0;
}

.ul-select {
  max-height: 200px;
}

.text-center {
  text-align: center;
}

.redwarn {
  width: 4px;
  height: 4px;
  background: #f14538;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.pt20 {
  padding: 0 20px;
}

.project-view {
  overflow-y: auto;
}

.v-show-content {
  /* markdown背景色 */
  background: #fff !important;
}

.help-content .v-note-panel {
  /* markdown边框 */
  box-shadow: none !important;
}

/*公共类*/

.fl {
  float: left
}

.fr {
  float: right
}

.al {
  text-align: left
}

.ac {
  text-align: center
}

.ar {
  text-align: right
}

.hide {
  display: none
}

.clearfix:after {
  content: '\0020';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix:after {
  content: '\0020';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* .content-type .el-badge__content.is-fixed {
  top: 28px !important;
  right: 36px !important;
} */